# ---------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace
.clangd/
*.bak

# ---------------------------------
**/build/
*.bin
*.elf
*.map
*.hex

sdkconfig.old
sdkconfig.ci

**/managed_components/
dependencies.lock

# ---------------------------------
**/Debug/
**/Release/

**/.settings/
*.launch

*.ioc.bak

.devcontainer